In [1]:
import pandas as pd
import numpy as np
import collections
from collections import Counter

In [2]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

In [3]:
dfAll.shape

(777715, 21)

In [4]:
df2= dfAll.iloc[:100,]

In [5]:
df2.shape

(100, 21)

In [101]:
### Definicion de meses

### variable_df_mes                          ###   == variable_mes
mes_actual= df2[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]        
mes_m1= df2[ ( dfAll['MONTHS_BALANCE'] == -1 )   ]
mes_m12= df2[ ( dfAll['MONTHS_BALANCE'] == -2 )   ]

/var/folders/v1/3g8467xs4vvf3w4gs3sqq6qr0000gn/T/ipykernel_3507/3915377169.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mes_actual= df2[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]
/var/folders/v1/3g8467xs4vvf3w4gs3sqq6qr0000gn/T/ipykernel_3507/3915377169.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mes_m1= df2[ ( dfAll['MONTHS_BALANCE'] == -1 )   ]
/var/folders/v1/3g8467xs4vvf3w4gs3sqq6qr0000gn/T/ipykernel_3507/3915377169.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mes_m12= df2[ ( dfAll['MONTHS_BALANCE'] == -2 )   ]

In [102]:
mes_actual.shape, mes_m1.shape, mes_m12.shape

((6, 21), (6, 21), (5, 21))

In [75]:
mes_m12.head()

,Unnamed: 0,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,...,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS
12,12,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,...,32.89,12.44,1,1,0,0,NaN,2.0,-12,C
28,28,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,...,32.89,12.44,1,1,0,0,NaN,2.0,-12,1
43,43,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,...,58.83,3.11,1,0,0,0,Security staff,2.0,-12,X
83,83,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,...,52.36,8.36,1,0,1,1,Sales staff,1.0,-12,C

In [78]:
mes_m1.iloc[3].ID , mes_m1.iloc[3].STATUS, mes_m12.iloc[3].STATUS

(5008808, 'X', 'C')

In [79]:

lista_ID_mes = []
               ### variable_df_mes   ### variable_index
lista_ID_mes.append(  mes_actual.iloc[0].STATUS  ) # Lista registro por ID al mes
lista_ID_mes.append(  mes_m1.iloc[0].STATUS  ) # Lista registro por ID al mes -1
lista_ID_mes.append(  mes_m12.iloc[0].STATUS  ) # Lista registro por ID al mes -12

In [80]:
lista_ID_mes

['C', 'C', 'C']

In [81]:
           # variable_df_mes    ### variable_index    
dic_prueba = {  mes_actual.iloc[0].ID : lista_ID_mes   }    
dic_prueba

{5008804: ['C', 'C', 'C']}

In [82]:
dic_prueba[5008804].count('C')

3

In [83]:
variable_mes = 0

variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses


lista_ID_index = []
lista_STATUS_index = []

lista_listas = []

lista_final = [] 

for i in range (0, ( len(variable_df_mes )) ) :     
    lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
    lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes

    lista_listas = tuple(zip(lista_ID_index,lista_STATUS_index)) 
    #lista_listas = dict.fromkeys(  lista_ID_index  ,  lista_STATUS_index  )

    # for j in range (0 , len(lista_listas)):
    #     lista_final.insert( 0, lista_listas[j][0], lista_listas[j][1] )

In [84]:
variable_mes = -1

variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses


lista_ID_index_2 = []
lista_STATUS_index_2 = []


for i in range (0, ( len(variable_df_mes )) ) :     
    lista_ID_index_2.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
    lista_STATUS_index_2.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes

    lista_listas_2 = tuple(zip(lista_ID_index_2,lista_STATUS_index_2)) 

# for j in range (0 , len(lista_listas)):
#     lista_final.append( lista_listas_2[j][0] )
#     lista_final.append( lista_listas_2[j][1] )

In [85]:
variable_mes = -12

variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses


lista_ID_index_3 = []
lista_STATUS_index_3 = []


for i in range (0, ( len(variable_df_mes )) ) :     
    lista_ID_index_3.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
    lista_STATUS_index_3.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes

    lista_listas_3 = tuple(zip(lista_ID_index_3,lista_STATUS_index_3)) 

# for j in range (0 , len(lista_listas)):
#     lista_final.append( lista_listas_2[j][0] )
#     lista_final.append( lista_listas_2[j][1] )

In [105]:
type(lista_listas)

tuple

In [88]:
lista_listas , lista_listas_2, lista_listas_3

(((5008804, 'C'),
  (5008805, 'C'),
  (5008806, 'C'),
  (5008808, '0'),
  (5008810, 'C'),
  (5008811, 'C')),
 ((5008804, 'C'),
  (5008805, 'C'),
  (5008806, 'C'),
  (5008808, 'X'),
  (5008810, 'C'),
  (5008811, 'C')),
 ((5008804, 'C'), (5008805, '1'), (5008806, 'X'), (5008810, 'C')))

In [89]:
type(lista_listas) , type(lista_listas_2) , type(lista_listas_3)

(tuple, tuple, tuple)

In [90]:
len(lista_listas), len(lista_listas_2), len(lista_listas_3)

(6, 6, 4)

In [91]:
lista_listas[0][0]

5008804

In [92]:
lst1 = lista_listas
lst2 = lista_listas_2
dict1 = dict(lst1)
dict2 = dict(lst2)
#lst3 = [(k, dict1[k], dict2[k]) for k in sorted(dict1)]
lst3 = [(k, v, dict2[k]) for k, v in lst1]

In [94]:
lst1 = lst3
lst2 = lista_listas_3
dict1 = dict(lst1)
dict2 = dict(lst2)
#lst3 = [(k, dict1[k], dict2[k]) for k in sorted(dict1)]
lst3 = [(k, v, dict2[k]) for k, v in lst1]

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [64]:
type(lst3)

list

In [57]:
lst3

[(5008804, 'C', ['C']),
 (5008805, 'C', ['C']),
 (5008806, 'C', ['C']),
 (5008808, '0', ['0']),
 (5008810, 'C', ['C']),
 (5008811, 'C', ['C'])]

In [65]:
tuple_test = tuple(zip(lst3))

In [66]:
tuple_test

(((5008804, 'C', ['C']),),
 ((5008805, 'C', ['C']),),
 ((5008806, 'C', ['C']),),
 ((5008808, '0', ['0']),),
 ((5008810, 'C', ['C']),),
 ((5008811, 'C', ['C']),))

In [28]:
# lista_final = []

# for i in range ( len(lista_listas) ):
#     lista_final.append( lista_listas[i][0] )
#     lista_final.append( lista_listas[i][1] )
#     lista_final.append( lista_listas_2[i][1] )

#     tuple(zip(lista_ID_index_2,lista_STATUS_index_2))

In [ ]:
# lista_ID_mes = []
# lista_STATUS_mes = []

# dic_ID_STATUS_mes={} 
#                             # Se fijan 12 meses para clasificacion por año
# for variable_mes in range(0,1):
#     variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses


#     lista_ID_index = []
#     lista_STATUS_index = []

#     for i in range (0,(len(variable_df_mes))) :     
#         lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
#         lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes    
        
#         dic_ID_STATUS_index = dict.fromkeys(  lista_ID_index  ,  lista_STATUS_index  ) 

#     lista_STATUS_mes.append( dic_ID_STATUS_index  ) # Lista registro por STATUS al mes 

    
#     # dic_ID_STATUS_mes.update(dic_ID_STATUS_index) #SE MOVIO UNA SANGRIA ADENTRO

    
#     # l

#     # dic_ID_STATUS_mes.update(lista_STATUS_mes) #SE MOVIO UNA SANGRIA ADENTRO