### Importaciones y lecturas

In [1]:
import pandas as pd
from datetime import date
from dateutil.relativedelta import relativedelta
import shutil
import dataframe_image as dfi

ModuleNotFoundError: No module named 'dataframe_image'

In [ ]:
df1 = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_analysis_exercises/DB/Datos/application_record.csv')
df2 = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_analysis_exercises/DB/Datos/credit_record.csv')

### Visualizaciones

In [ ]:
df1.head()

In [ ]:
# Se crea la imagen de la tabla anterior
# Se mueve al dir :  /Data_visualization/Load/Gráficas/

df_styled = df1.head().style.background_gradient()
df1.export(df_styled, '12_dep_tab_percentage.png')

pos1= '/Users/yairmartinez/Documents/GitHub/Data_visualization/12_dep_tab_percentage.png'
pos2= '/Users/yairmartinez/Documents/GitHub/Data_visualization/Load/Gráficas/12_dep_tab_percentage.png'
shutil.move(pos1,pos2)

In [ ]:
df2.head()

In [ ]:
df1.shape, df2.shape

In [ ]:
df1.isna().sum()

In [ ]:
df2.isna().sum()

In [ ]:
### Transform data and renaming 

## df1 a df3

# Definición df1 limpio
df1 = df1.assign(DAYS_BIRTH= lambda x: round(   ( (df1['DAYS_BIRTH'] *-1))/365   , 2  )   ,
DAYS_EMPLOYED=lambda x: round(  ( (df1['DAYS_EMPLOYED'] *-1)) / 365      , 2  )          )

# Renombrar columnas df3
df1.rename(columns = {'DAYS_BIRTH':'YEARS_BIRTH'}, inplace = True)
df1.rename(columns = {'DAYS_EMPLOYED':'YEARS_EMPLOYED'}, inplace = True)


# Renombrar columna del df2

# hoy=date.today()
# lista_mes_balance = []

# for x in df2['MONTHS_BALANCE']:
#     mes_balance = hoy + relativedelta(months=x)
#     lista_mes_balance.append(mes_balance)

# df2['MONTHS_BALANCE'] = lista_mes_balance

In [ ]:
dfAll = pd.merge(df1, df2, how='inner', on=['ID'])
print(dfAll.shape)

In [ ]:
dfAll.isna().sum()

In [ ]:
### Limpueza de datos nulos

# Indagar en OCCUPATION_TYPE = NULL

# Ver 'YEARS_EMPLOYED' negativos 

dfAll[dfAll['OCCUPATION_TYPE'].isnull()].describe()

In [ ]:
### Limpueza de datos nulos


# raros = OCCUPATION_TYPE = NULL with YEARS_EMPLOYED < 0


raros= dfAll[ ( dfAll['OCCUPATION_TYPE'].isnull() ) &  (  dfAll['YEARS_EMPLOYED'] < 0  )   ]
raros.groupby(['NAME_INCOME_TYPE']).describe( )

In [ ]:
raros.shape

In [ ]:
### Limpueza de datos nulos

# Existen muy jovenes para ser Pensioner

raros.YEARS_BIRTH.describe()

In [ ]:
# Existen MUCHOS muy jovenes para ser Pensioner
raros_jovenes= raros[ ( raros['YEARS_BIRTH'] < 57.15 ) ]
raros_jovenes.shape

In [ ]:
### Limpueza de datos nulos

# OCCUPATION_TYPE = NULL 

# Se analizan pensionados positivos

pensionados_p = dfAll[ ( dfAll['NAME_INCOME_TYPE'] == 'Pensioner' ) &  (   dfAll['YEARS_EMPLOYED'] > 0  ) & ( dfAll['OCCUPATION_TYPE'].isnull() ) ] 
pensionados_p.groupby(['NAME_INCOME_TYPE']).describe( )

In [ ]:
pensionados_p.shape

In [ ]:
# Existen muy jovenes para ser Pensionerpor lo que no es justificante la edad

pensionados_p.YEARS_BIRTH.describe()

In [ ]:
### Limpueza de datos nulos

# OCCUPATION_TYPE = NULL no pensionados


Nulos_no_pensionados= dfAll[ ( dfAll['OCCUPATION_TYPE'].isnull() ) &  (  dfAll['NAME_INCOME_TYPE'] != 'Pensioner'  )   ]
Nulos_no_pensionados.groupby(['NAME_INCOME_TYPE']).describe( )

In [ ]:
Nulos_no_pensionados.shape

In [ ]:
#### TOTAL DE DATOS = 777715
#### Del total de loa datos vacíos en dfAll : 240048,  

# 127972 son marcados como ['NAME_INCOME_TYPE']= con  YEARS_EMPLOYED < 0  (negativo)
# 88 son marcados como ['NAME_INCOME_TYPE']= 'Pensioner' de ['NAME_INCOME_TYPE']= 'Pensioner'  con  YEARS_EMPLOYED positivo

# 31973 Commercial associate  ### 111,988 entre todos
# 12704 State servant
# 15 Student
# 67296 Working

#### No se podrán eliminar los datos ni modificar arbitrariamente

In [ ]:
###       NO BORRAR

dfAll.to_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')