In [1]:
import pandas as pd
import collections
from collections import Counter

In [2]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/Data_analysis_exercises/DB/Datos_modificados/dfAll.csv')

In [3]:
### Definicion de meses

### variable_df_mes                          ###   == variable_mes
mes_actual= dfAll[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]        
mes_m1= dfAll[ ( dfAll['MONTHS_BALANCE'] == -1 )   ]

In [6]:
### Keys y contadores para STATUS por cada mes

### variable_dic_mes         # Variable_df_mes
dic_mes_actual = Counter(mes_actual['STATUS'])
dic_mes_m1 = Counter(mes_m1['STATUS'])

In [5]:
# Valores de diccionarios ordenados por keys

### variable_dic_mes                                 ### variable_dic_mes
dic_mes_actual = collections.OrderedDict(  sorted(  dic_mes_actual.items()  )  )    
dic_mes_m1 = collections.OrderedDict(  sorted(  dic_mes_m1.items()  )  )

In [7]:
# Listas de valores , ya ordenados por keys

lista_index = list(  dic_mes_actual.keys()  )

# Variable_lista_mes           ### Variable_dic_mes 
lista_mes_actual = list(  dic_mes_actual.values()  )    
lista_mes_m1 = list(  dic_mes_m1.values()  ) 

lista_mes_actual

[12974, 6886, 4487, 236, 59, 6, 5, 19]

In [8]:
# Crear lista final

lista_mes_total = list ( zip(lista_mes_actual, lista_mes_m1 ) )
lista_mes_total

[(12974, 12797),
 (6886, 4201),
 (4487, 7606),
 (236, 268),
 (59, 57),
 (6, 11),
 (5, 17),
 (19, 6)]

In [10]:
### KPI listo
                                                                          # lista_nombre:                                                                      
KPI = pd.DataFrame(  lista_mes_total, index= lista_index, columns= ('mes_actual', 'mes_m1') )  
KPI

   mes_actual  mes_m1
C       12974   12797
0        6886    4201
X        4487    7606
1         236     268
5          59      57
3           6      11
4           5      17
2          19       6

In [17]:
                            # Fijado a -2


for variable_mes in range (-2,1):
    variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses
    variable_dic_mes = Counter(variable_df_mes['STATUS'])  ### Keys y contadores para STATUS por cada mes
    variable_dic_mes = collections.OrderedDict(  sorted(  variable_dic_mes.items()  )  ) # Valores de diccionarios ordenados por keys

    Variable_lista_mes = list(  variable_dic_mes.values()  )      
    print(Variable_lista_mes)

[7700, 274, 19, 11, 3, 52, 12531, 4281]
[7606, 268, 17, 6, 11, 57, 12797, 4201]
[6886, 236, 19, 6, 5, 59, 12974, 4487]

In [ ]:


# hoy=date.today()
# lista_mes_balance = []

# for x in df2['MONTHS_BALANCE']:
#     mes_balance = hoy + relativedelta(months=x)
#     lista_mes_balance.append(mes_balance)

# df2['MONTHS_BALANCE'] = lista_mes_balance