### Importaciones y lecturas

In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import chain
import shutil

In [2]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

### Ciclo para crear diccionarios po STATUS con ID y contador por mes

In [3]:
# lista_ID_mes = []
# lista_STATUS_mes = []

# dic_ID_STATUS_mes={} 
lista_ID_C_tot = []
lista_ID_X_tot = []
lista_ID_0_tot = []
lista_ID_1_tot = []
lista_ID_2_tot = []
lista_ID_3_tot = []
lista_ID_4_tot = []
lista_ID_5_tot = []

lista_TOTAL_C =[] 
lista_TOTAL_X =[] 
lista_TOTAL_0 =[] 
lista_TOTAL_1 =[] 
lista_TOTAL_2 =[] 
lista_TOTAL_3 =[] 
lista_TOTAL_4 =[] 
lista_TOTAL_5 =[] 

                       # Se fijan 12 meses para clasificacion por año 
for variable_mes in range(-11,1):
    # variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Cortado 
    variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ]   ### Completo
    lista_ID_index = []
    lista_STATUS_index = []

    lista_ID_C_mes = []
    lista_ID_X_mes = []
    lista_ID_0_mes = []
    lista_ID_1_mes = []
    lista_ID_2_mes = []
    lista_ID_3_mes = []
    lista_ID_4_mes = []
    lista_ID_5_mes = []

    for i in range (0,(len(variable_df_mes))) :     
        lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
        lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes    
        
    tupla_index = tuple(zip(lista_ID_index , lista_STATUS_index)) 

    for j in range (0,len(tupla_index)):
        if tupla_index[j][1] == 'C':
            lista_ID_C_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == 'X':
            lista_ID_X_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '0':
            lista_ID_0_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '1':
            lista_ID_1_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '2':
            lista_ID_2_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '3':
            lista_ID_3_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '4':
            lista_ID_4_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '5':
            lista_ID_5_mes.append(tupla_index[j][0])

    lista_ID_C_tot.append(lista_ID_C_mes)
    lista_ID_X_tot.append(lista_ID_X_mes)
    lista_ID_0_tot.append(lista_ID_0_mes)
    lista_ID_1_tot.append(lista_ID_1_mes)
    lista_ID_2_tot.append(lista_ID_2_mes)
    lista_ID_3_tot.append(lista_ID_3_mes)
    lista_ID_4_tot.append(lista_ID_4_mes)
    lista_ID_5_tot.append(lista_ID_5_mes)

for k in range(0, len(lista_ID_C_tot)):
    lista_TOTAL_C.extend( lista_ID_C_tot[k] )
    lista_TOTAL_X.extend( lista_ID_X_tot[k] )
    lista_TOTAL_0.extend( lista_ID_0_tot[k] )
    lista_TOTAL_1.extend( lista_ID_1_tot[k] )
    lista_TOTAL_2.extend( lista_ID_2_tot[k] )
    lista_TOTAL_3.extend( lista_ID_3_tot[k] )
    lista_TOTAL_4.extend( lista_ID_4_tot[k] )
    lista_TOTAL_5.extend( lista_ID_5_tot[k] )


contador_C = Counter(chain(lista_TOTAL_C))
contador_X = Counter(chain(lista_TOTAL_X))
contador_0 = Counter(chain(lista_TOTAL_0))
contador_1 = Counter(chain(lista_TOTAL_1))         
contador_2 = Counter(chain(lista_TOTAL_2))
contador_3 = Counter(chain(lista_TOTAL_3))    
contador_4 = Counter(chain(lista_TOTAL_4))
contador_5 = Counter(chain(lista_TOTAL_5))

### Clasificador de clientes

#### Preparación de ciclo

In [4]:
# Por cada ID en la lista, se cuenta cuantas veces sale
contador_4

Counter({5112858: 1,
         5009744: 2,
         5025127: 3,
         5029028: 1,
         5022053: 1,
         5052877: 1,
         5052879: 1,
         5117787: 2,
         5137206: 1,
         5029311: 1,
         5046328: 1,
         5126463: 1,
         5009749: 2,
         5036590: 1,
         5041175: 3,
         5058531: 2,
         5033514: 1,
         5078801: 1,
         5105189: 1,
         5052659: 2,
         5097145: 1,
         5104947: 1,
         5105194: 1,
         5050606: 1,
         5058352: 1,
         5069307: 1,
         5116906: 1,
         5149828: 1,
         5078804: 1,
         5117794: 2,
         5033453: 1,
         5058532: 2,
         5068456: 1,
         5090214: 1,
         5118046: 1,
         5145690: 1,
         5116302: 1,
         5010868: 1,
         5010869: 1,
         5052661: 2,
         5092245: 1,
         5078805: 1,
         5090729: 1,
         5116455: 1,
         5021998: 1,
         5023831: 1,
         5028580: 1,
         5045902: 1,
         5125761: 1,
         5142456: 1,
         5146444: 1,
         5105196: 1,
         5137203: 1,
         5036660: 1,
         5051161: 1,
         5125763: 1})

In [5]:
# Verificar llaves y valores (keys & Values)
contador_4.items()

dict_items([(5112858, 1), (5009744, 2), (5025127, 3), (5029028, 1), (5022053, 1), (5052877, 1), (5052879, 1), (5117787, 2), (5137206, 1), (5029311, 1), (5046328, 1), (5126463, 1), (5009749, 2), (5036590, 1), (5041175, 3), (5058531, 2), (5033514, 1), (5078801, 1), (5105189, 1), (5052659, 2), (5097145, 1), (5104947, 1), (5105194, 1), (5050606, 1), (5058352, 1), (5069307, 1), (5116906, 1), (5149828, 1), (5078804, 1), (5117794, 2), (5033453, 1), (5058532, 2), (5068456, 1), (5090214, 1), (5118046, 1), (5145690, 1), (5116302, 1), (5010868, 1), (5010869, 1), (5052661, 2), (5092245, 1), (5078805, 1), (5090729, 1), (5116455, 1), (5021998, 1), (5023831, 1), (5028580, 1), (5045902, 1), (5125761, 1), (5142456, 1), (5146444, 1), (5105196, 1), (5137203, 1), (5036660, 1), (5051161, 1), (5125763, 1)])

In [6]:
print(contador_4[5009749])

2

In [7]:
# Tamaño de listas
len(lista_TOTAL_C), len(lista_TOTAL_X) ,  len(lista_TOTAL_0), len(lista_TOTAL_1), len(lista_TOTAL_2), len(lista_TOTAL_3) , len(lista_TOTAL_4), len(lista_TOTAL_5)

(138901, 49859, 88848, 2911, 229, 78, 68, 572)

In [8]:
# En 12 meses
len(contador_C), len(contador_X), len(contador_0), len(contador_1), len(contador_2), len(contador_3), len(contador_4), len(contador_5)

(15198, 9872, 15040, 1631, 162, 70, 56, 104)

#### Ciclo para ID Malo y VIP

In [9]:
# ID Malo tiene al menos un valor 5 en un año  (Si paga, el STATUS va a 5,4,3,2,1 y 0 de deudas o medio año)
# ID Malo tiene al menos dos valores 4 en un año (Si paga, el STATUS va a 4,3,2,1 y 0 de deudas o casi medio año)
# ID Malo tiene al menos tres valores 3 en un año (Si paga, el STATUS va a 3,2,1 y 0 de deudas o un tercio de año)

ID_malo_r= []
ID_vip_r = []

for key, value in contador_5.items() :
    if contador_5[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)


for key, value in contador_4.items() :
    if contador_4[key] > 1 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)

for key, value in contador_3.items() :
    if contador_3[key] > 2 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)


### ID VIP tienen más de 8 pagos C en un año  

for key, value in contador_C.items() :
    if contador_C[key] > 7 :
        prueba = [] 
        prueba = [key]
        ID_vip_r.append(prueba)

In [10]:
len(ID_malo_r), len(ID_vip_r), len(tupla_index) # La diferencia entre el total = 24,672 y la suma de ID_malo_r y ID_vip_r son los regulares

(116, 10539, 24672)

In [11]:
#Lista total

dic_ID_todos = dict(tupla_index)
ID_todos_r = list(dic_ID_todos.keys())

In [12]:
#Quitar repetidos

ID_malo = []
for i in ID_malo_r:
    if i not in ID_malo:
        ID_malo.append(i)

ID_vip = []
for i in ID_vip_r:
    if i not in ID_vip:
        ID_vip.append(i)


ID_todos = []
for i in ID_todos_r:
    if i not in ID_todos:
        ID_todos.append(i)

In [13]:
len(ID_malo_r), len(ID_malo), len(ID_vip_r), len(ID_vip), len(ID_todos_r), len(ID_todos)

(116, 111, 10539, 10539, 24672, 24672)

#### Crear lista ID Regular

In [14]:
# Quitar del total a los ID definidos como malos del total

list_1 = ID_malo
list_2 = ID_todos

for element in list_1:
    if element in list_2:
        list_2.remove(element)

ID_regulares_1 = list_2

In [15]:
# Quitar del total anterior los ID definidos como VIP

list_1 = ID_vip
list_2 = ID_regulares_1

for element in list_1:
    if element in list_2:
        list_2.remove(element)

ID_regulares = list_2

In [16]:
len(ID_malo) + len(ID_vip) + len(ID_regulares)

25407

In [17]:
# Comprobación de no repetidos
len([x for x in ID_regulares if x in ID_malo])

0

In [18]:
## Comprobación de no repetidos
len([x for x in ID_regulares if x in ID_vip])

0

### Convertir listas Malo Regular y VIP a Data Frame

#### Limpieza de data frame total y listas de clientes

In [19]:
# Se eliminan todos los ID duplicados del dfAll
# Se eliminan todos los STATUS ya que serán divididos por ese grupo y Months Balance al no depender del tiempo

dfAll_m = dfAll.drop_duplicates( subset= ['ID'] , keep='first')
dfAll_m = dfAll_m.drop(['Unnamed: 0','STATUS', 'MONTHS_BALANCE'], axis = 1)
dfAll_m.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,NaN,2.0
16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,NaN,2.0
31,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,58.83,3.11,1,0,0,0,Security staff,2.0
61,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,Sales staff,1.0
66,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,Sales staff,1.0

In [20]:
# Se verifica valor a eliminar =  YEARS_EMPLOYED negativos
dfAll_m['YEARS_EMPLOYED'].describe()

count    36457.000000
mean      -162.364823
std        377.128577
min      -1000.670000
25%          1.120000
50%          4.250000
75%          8.640000
max         43.050000
Name: YEARS_EMPLOYED, dtype: float64

In [21]:
# Verificador index lista

clientes_malos = pd.DataFrame(ID_malo)
clientes_regulares = pd.DataFrame(ID_regulares)
clientes_vip = pd.DataFrame(ID_vip)

In [22]:
type(clientes_malos)

pandas.core.frame.DataFrame

In [23]:
clientes_malos

           0
0    5018501
1    5021431
2    5038807
3    5053254
4    5061360
..       ...
106  5058531
107  5117794
108  5058532
109  5137206
110  5090214

[111 rows x 1 columns]

In [24]:
clientes_malos[0]

0      5018501
1      5021431
2      5038807
3      5053254
4      5061360
        ...
106    5058531
107    5117794
108    5058532
109    5137206
110    5090214
Name: 0, Length: 111, dtype: int64

#### Crear data frame de clientes malo, regular y vip

In [25]:
# Listas de clientes y reseteo de index

df_clientes_malos = dfAll_m.set_index('ID').loc[clientes_malos[0]].reset_index(inplace=False)
df_clientes_regulares = dfAll_m.set_index('ID').loc[clientes_regulares[0]].reset_index(inplace=False)
df_clientes_vip = dfAll_m.set_index('ID').loc[clientes_vip[0]].reset_index(inplace=False)

In [26]:
df_clientes_malos

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5018501,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,51.92,2.75,1,1,1,0,Cooking staff,2.0
1,5021431,F,N,Y,0,126000.0,Commercial associate,Higher education,Single / not married,House / apartment,51.80,6.77,1,0,0,0,Sales staff,1.0
2,5038807,M,Y,Y,0,202500.0,Commercial associate,Higher education,Married,House / apartment,34.68,14.72,1,0,0,1,Laborers,2.0
3,5053254,F,Y,Y,0,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,51.14,5.89,1,1,0,0,Managers,2.0
4,5061360,M,N,Y,0,65250.0,Pensioner,Higher education,Married,House / apartment,57.18,-1000.67,1,0,0,0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,5058531,M,N,N,0,391500.0,Working,Secondary / secondary special,Single / not married,Municipal apartment,25.32,1.39,1,0,0,0,Sales staff,1.0
107,5117794,F,Y,N,2,162000.0,Commercial associate,Incomplete higher,Married,House / apartment,26.47,2.18,1,1,1,0,Core staff,4.0
108,5058532,M,N,N,0,391500.0,Working,Secondary / secondary special,Single / not married,Municipal apartment,25.32,1.39,1,0,0,0,Sales staff,1.0
109,5137206,M,N,N,0,90000.0,Working,Secondary / secondary special,Single / not married,With parents,27.12,0.47,1,1,0,0,Drivers,1.0
110,5090214,M,Y,Y,0,135000.0,Working,Secondary / secondary special,Married,House / apartment,29.35,0.59,1,0,0,0,Laborers,2.0

In [27]:
df_clientes_malos.shape , df_clientes_regulares.shape , df_clientes_vip.shape

((111, 18), (14757, 18), (10539, 18))

In [28]:
# Para YEARS_EMPLOYED, se seleccionaron solamente los datos positivos, 
# dejando fuera a los jubilados debido a las inconsistencias entre los registros

df_clientes_malos= df_clientes_malos.drop(df_clientes_malos.index[df_clientes_malos['YEARS_EMPLOYED']<0])
df_clientes_regulares= df_clientes_regulares.drop(df_clientes_regulares.index[df_clientes_regulares['YEARS_EMPLOYED']<0])
df_clientes_vip= df_clientes_vip.drop(df_clientes_vip.index[df_clientes_vip['YEARS_EMPLOYED']<0])

In [29]:
df_clientes_malos.shape , df_clientes_regulares.shape , df_clientes_vip.shape

((96, 18), (12258, 18), (8803, 18))

### Salvar Data Frames Malo Regular y VIP a Data Frame

In [30]:
df_clientes_malos.to_csv('df_clientes_malos.csv', index=False)
df_clientes_regulares.to_csv('df_clientes_regulares.csv', index=False)
df_clientes_vip.to_csv('df_clientes_vip.csv', index=False)

pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/df_clientes_malos.csv'
pos11= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_clientes_malos.csv'

pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/df_clientes_regulares.csv'
pos22= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_clientes_regulares.csv'

pos3= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/df_clientes_vip.csv'
pos33= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_clientes_vip.csv'

shutil.move(pos1,pos11)
shutil.move(pos2,pos22)
shutil.move(pos3,pos33)

'/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_clientes_vip.csv'