In [1]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import chain
import shutil

In [2]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

clientes_malos = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_malo.csv')
clientes_regulares = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_regulares.csv')
clientes_vip = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_vip.csv')

In [14]:
dfAll_m = dfAll.drop_duplicates( subset= ['ID'] , keep='first')
dfAll_m = dfAll_m.drop(['Unnamed: 0','STATUS', 'OCCUPATION_TYPE', 'MONTHS_BALANCE'], axis = 1)
dfAll_m.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,2.0
16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,2.0
31,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,58.83,3.11,1,0,0,0,2.0
61,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,1.0
66,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,1.0

In [11]:
dfAll.columns

Index(['Unnamed: 0', 'ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'CNT_CHILDREN', 'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE',
       'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE',
       'YEARS_BIRTH', 'YEARS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE',
       'FLAG_PHONE', 'FLAG_EMAIL', 'OCCUPATION_TYPE', 'CNT_FAM_MEMBERS',
       'MONTHS_BALANCE', 'STATUS'],
      dtype='object')

In [15]:
clientes_malos.shape , clientes_regulares.shape , clientes_vip.shape

((111, 1), (14757, 1), (10539, 1))

In [5]:
clientes_malos.index , type(clientes_malos)

(RangeIndex(start=0, stop=111, step=1), pandas.core.frame.DataFrame)

In [18]:
clientes_malos.head

<bound method NDFrame.head of            0
0    5018501
1    5021431
2    5038807
3    5053254
4    5061360
..       ...
106  5058531
107  5117794
108  5058532
109  5137206
110  5090214

[111 rows x 1 columns]>

In [17]:
clientes_malos['0'][0]

5018501

In [21]:
len(clientes_malos)

111

In [25]:
dfAll_m['ID'][0]

5008804

In [27]:
# Tables from clients

for i  in  dfAll_m:
    for j in range (len(clientes_malos)):
        if dfAll_m.items(i) == clientes_malos['0'][j]:
            print ('X')

TypeError: items() takes 1 positional argument but 2 were given

In [ ]:

for i in range(len(x)):
    if valeur.item(i) <= 0.6:
        print ("this works")
    else:   
        print ("valeur is too high")

In [28]:
i

'ID'

In [ ]:
clientes_malos 
clientes_regulares 
clientes_vip 
dfAll_m


lista_mes = []
lista_nombre_mes = []
                             # Se dija a -26 meses
for variable_mes in range (-26,1):
    variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses
    variable_dic_mes = Counter(variable_df_mes['STATUS'])  ### Keys y contadores para STATUS por cada mes
    variable_dic_mes = collections.OrderedDict(  sorted(  variable_dic_mes.items()  )  ) # Valores de diccionarios ordenados por keys

    variable_lista_mes = list(  variable_dic_mes.values()  )      # Valores YA ordenados por keys
    lista_mes.append(variable_lista_mes) # Agregar valores YA ordenados a lista

    variable_nombre_mes = variable_mes
    lista_nombre_mes.append(variable_nombre_mes)

lista_mes = np.array(lista_mes).T
lista_index = list(  dic_mes_actual.keys()  )

                                                                          # lista_nombre:                                                                      
KPI_1 = pd.DataFrame(  lista_mes, index= lista_index, columns= lista_nombre_mes )  
KPI_1