In [28]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import chain
import shutil
import seaborn as sns
import matplotlib.pyplot as plt

In [29]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

clientes_malos = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_malo.csv')
clientes_regulares = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_regulares.csv')
clientes_vip = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/class_ID_vip.csv')

dfAll_m = dfAll.drop_duplicates( subset= ['ID'] , keep='first')
dfAll_m = dfAll_m.drop(['Unnamed: 0','STATUS', 'OCCUPATION_TYPE', 'MONTHS_BALANCE'], axis = 1)
dfAll_m.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,2.0
16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,2.0
31,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,58.83,3.11,1,0,0,0,2.0
61,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,1.0
66,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,1.0

In [30]:
dfAll_m.columns

Index(['ID', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN',
       'AMT_INCOME_TOTAL', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'YEARS_BIRTH',
       'YEARS_EMPLOYED', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'CNT_FAM_MEMBERS'],
      dtype='object')

In [59]:
dfAll_m['NAME_INCOME_TYPE'].unique()

array(['Working', 'Commercial associate', 'Pensioner', 'State servant',
       'Student'], dtype=object)

In [31]:
clientes_malos.shape , clientes_regulares.shape , clientes_vip.shape

((111, 1), (14757, 1), (10539, 1))

In [32]:
clientes_malos.index , clientes_malos.columns, type(clientes_malos)

(RangeIndex(start=0, stop=111, step=1),
 Index(['0'], dtype='object'),
 pandas.core.frame.DataFrame)

In [33]:
dfAll_m.reset_index()
dfAll_m['ID']

0         5008804
16        5008805
31        5008806
61        5008808
66        5008809
           ...
777622    5149828
777634    5149834
777658    5149838
777691    5150049
777701    5150337
Name: ID, Length: 36457, dtype: int64

In [34]:
clientes_malos['0']

0      5018501
1      5021431
2      5038807
3      5053254
4      5061360
        ...
106    5058531
107    5117794
108    5058532
109    5137206
110    5090214
Name: 0, Length: 111, dtype: int64

In [35]:
# Listas de clientes

df_clientes_malos = dfAll_m.set_index('ID').loc[clientes_malos['0']].reset_index(inplace=False)
df_clientes_regulares = dfAll_m.set_index('ID').loc[clientes_regulares['0']].reset_index(inplace=False)
df_clientes_vip = dfAll_m.set_index('ID').loc[clientes_vip['0']].reset_index(inplace=False)

In [36]:
df_clientes_malos['YEARS_EMPLOYED'].describe(), df_clientes_malos['YEARS_BIRTH'].describe()

(count     111.000000
 mean     -130.085405
 std       345.735023
 min     -1000.670000
 25%         1.495000
 50%         2.530000
 75%         6.770000
 max        28.640000
 Name: YEARS_EMPLOYED, dtype: float64,
 count    111.000000
 mean      44.760631
 std       11.330255
 min       24.400000
 25%       36.410000
 50%       45.510000
 75%       51.950000
 max       67.430000
 Name: YEARS_BIRTH, dtype: float64)

In [37]:
# Para YEARS_EMPLOYED, se seleccionaron solamente los datos positivos, dejando fuera a los jubilados debido a las inconsistencias entre los registros

df_clientes_malos= df_clientes_malos.drop(df_clientes_malos.index[df_clientes_malos['YEARS_EMPLOYED']<0])
df_clientes_regulares= df_clientes_regulares.drop(df_clientes_regulares.index[df_clientes_regulares['YEARS_EMPLOYED']<0])
df_clientes_vip= df_clientes_vip.drop(df_clientes_vip.index[df_clientes_vip['YEARS_EMPLOYED']<0])

In [49]:
# Se dan valores de Code Gender: 1 = M y 2 = F

for idx, row in df_clientes_malos.iterrows():
    if  df_clientes_malos.loc[idx,'CODE_GENDER'] == 'M':
        df_clientes_malos.loc[idx,'CODE_GENDER'] = 1
    if  df_clientes_malos.loc[idx,'CODE_GENDER'] == 'F':
        df_clientes_malos.loc[idx,'CODE_GENDER'] = 2

FLAG_OWN_CAR 'Y' 1 'N' 0
FLAG_OWN_REALTY 'Y' 1 'N' 0

['Working', 'Commercial associate', 'Pensioner', 'State servant',
       'Student']

# df_clientes_malos=df_clientes_malos.assign (  CODE_GENDER = lambda x: F = 2   )


# # Definición df1 limpio
# df1 = df1.assign(DAYS_BIRTH= lambda x: round(   ( (df1['DAYS_BIRTH'] *-1))/365   , 2  )   ,
# DAYS_EMPLOYED=lambda x: round(  ( (df1['DAYS_EMPLOYED'] *-1)) / 365      , 2  )          )

# df1.rename(columns = {'DAYS_BIRTH':'YEARS_BIRTH'}, inplace = True)
# df1.rename(columns = {'DAYS_EMPLOYED':'YEARS_EMPLOYED'}, inplace = True)

In [50]:
df_clientes_malos['CODE_GENDER']

0      2
1      2
2      1
3      2
5      2
      ..
106    1
107    2
108    1
109    1
110    1
Name: CODE_GENDER, Length: 96, dtype: object

In [ ]:
df_clientes_malos = df.drop(df.index[df['colA'] < 0])

In [ ]:
# Se elimina ID en la correlacion para evitar valores incongruentes y YEARS_EMPLOYED se deja

# df_clientes_malos = df_clientes_malos.drop(['ID', 'YEARS_EMPLOYED'], axis = 1)
# df_clientes_regulares = df_clientes_regulares.drop(['ID', 'YEARS_EMPLOYED'], axis = 1)
# df_clientes_vip = df_clientes_vip.drop(['ID', 'YEARS_EMPLOYED'], axis = 1)

# 'FLAG_MOBIL'

In [ ]:
df_clientes_malos

In [ ]:

df_clientes_malos.shape, df_clientes_regulares.shape, df_clientes_vip.shape

In [ ]:
s_clientes_malos = df_clientes_malos.corr()
s_clientes_regulares = df_clientes_regulares.corr()
s_clientes_vip = df_clientes_vip.corr()

In [ ]:
s_clientes_malos

In [ ]:
plt.figure(figsize=(16, 6))
heatmap = sns.heatmap(s_clientes_malos, vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Clientes_malos', fontdict={'fontsize':18}, pad=12)

plt.savefig('Mobil_Clientes_malos.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Mobil_Clientes_malos.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Mobil_Clientes_malos.png'

shutil.move(pos1,pos2)

In [ ]:
df_clientes_malos = df_clientes_malos.drop(['FLAG_MOBIL'], axis = 1)
df_clientes_regulares = df_clientes_regulares.drop(['FLAG_MOBIL'], axis = 1)
df_clientes_vip = df_clientes_vip.drop(['FLAG_MOBIL'], axis = 1)

s_clientes_malos = df_clientes_malos.corr()
s_clientes_regulares = df_clientes_regulares.corr()
s_clientes_vip = df_clientes_vip.corr()

In [ ]:
plt.figure(figsize=(16, 6))
mask = np.triu(np.ones_like(s_clientes_malos, dtype=np.bool))
heatmap = sns.heatmap(s_clientes_malos, mask= mask, vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Clientes_malos', fontdict={'fontsize':18}, pad=12);

plt.savefig('Clientes_malos.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Clientes_malos.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Clientes_malos.png'
shutil.move(pos1,pos2)

In [ ]:
plt.figure(figsize=(16, 6))
mask = np.triu(np.ones_like(s_clientes_vip, dtype=np.bool))
heatmap = sns.heatmap(s_clientes_vip, mask= mask, vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Clientes_VIP', fontdict={'fontsize':18}, pad=12);

plt.savefig('Clientes_VIP.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Clientes_VIP.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Clientes_VIP.png'
shutil.move(pos1,pos2)

In [ ]:
plt.figure(figsize=(16, 6))
mask = np.triu(np.ones_like(s_clientes_regulares, dtype=np.bool))
heatmap = sns.heatmap(s_clientes_regulares, mask= mask, vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Clientes_regulares', fontdict={'fontsize':18}, pad=12);

plt.savefig('Clientes_regulares.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Clientes_regulares.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Clientes_regulares.png'
shutil.move(pos1,pos2)

In [ ]:
plt.figure(figsize=(8, 12))
heatmap = sns.heatmap(s_clientes_vip.corr()[['AMT_INCOME_TOTAL']].sort_values(by='AMT_INCOME_TOTAL', ascending=False), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Correlación AMT_INCOME_TOTAL_VIP', fontdict={'fontsize':18}, pad=16)

plt.savefig('Correlación_AMT_INCOME_TOTAL_VIP.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Correlación_AMT_INCOME_TOTAL_VIP.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Correlación_AMT_INCOME_TOTAL_VIP.png'
shutil.move(pos1,pos2)

In [ ]:
plt.figure(figsize=(8, 12))
heatmap = sns.heatmap(s_clientes_malos.corr()[['AMT_INCOME_TOTAL']].sort_values(by='AMT_INCOME_TOTAL', ascending=False), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Correlación AMT_INCOME_TOTAL_malos', fontdict={'fontsize':18}, pad=16);

plt.savefig('Correlación_AMT_INCOME_TOTAL_malos.png', dpi=300, bbox_inches='tight')
pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/Correlación_AMT_INCOME_TOTAL_malos.png'
pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Graficas/Correlación_AMT_INCOME_TOTAL_malos.png'
shutil.move(pos1,pos2)