### Importaciones y lecturas

In [47]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import chain
import shutil

In [48]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

### Ciclo para crear diccionarios po STATUS con ID y contador por mes

In [49]:
# lista_ID_mes = []
# lista_STATUS_mes = []

# dic_ID_STATUS_mes={} 
lista_ID_C_tot = []
lista_ID_X_tot = []
lista_ID_0_tot = []
lista_ID_1_tot = []
lista_ID_2_tot = []
lista_ID_3_tot = []
lista_ID_4_tot = []
lista_ID_5_tot = []

lista_TOTAL_C =[] 
lista_TOTAL_X =[] 
lista_TOTAL_0 =[] 
lista_TOTAL_1 =[] 
lista_TOTAL_2 =[] 
lista_TOTAL_3 =[] 
lista_TOTAL_4 =[] 
lista_TOTAL_5 =[] 

                       # Se fijan 12 meses para clasificacion por año 
for variable_mes in range(-11,1):
    # variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Cortado 
    variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ]   ### Completo
    lista_ID_index = []
    lista_STATUS_index = []

    lista_ID_C_mes = []
    lista_ID_X_mes = []
    lista_ID_0_mes = []
    lista_ID_1_mes = []
    lista_ID_2_mes = []
    lista_ID_3_mes = []
    lista_ID_4_mes = []
    lista_ID_5_mes = []

    for i in range (0,(len(variable_df_mes))) :     
        lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
        lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes    
        
    tupla_index = tuple(zip(lista_ID_index , lista_STATUS_index)) 

    for j in range (0,len(tupla_index)):
        if tupla_index[j][1] == 'C':
            lista_ID_C_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == 'X':
            lista_ID_X_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '0':
            lista_ID_0_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '1':
            lista_ID_1_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '2':
            lista_ID_2_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '3':
            lista_ID_3_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '4':
            lista_ID_4_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '5':
            lista_ID_5_mes.append(tupla_index[j][0])

    lista_ID_C_tot.append(lista_ID_C_mes)
    lista_ID_X_tot.append(lista_ID_X_mes)
    lista_ID_0_tot.append(lista_ID_0_mes)
    lista_ID_1_tot.append(lista_ID_1_mes)
    lista_ID_2_tot.append(lista_ID_2_mes)
    lista_ID_3_tot.append(lista_ID_3_mes)
    lista_ID_4_tot.append(lista_ID_4_mes)
    lista_ID_5_tot.append(lista_ID_5_mes)

for k in range(0, len(lista_ID_C_tot)):
    lista_TOTAL_C.extend( lista_ID_C_tot[k] )
    lista_TOTAL_X.extend( lista_ID_X_tot[k] )
    lista_TOTAL_0.extend( lista_ID_0_tot[k] )
    lista_TOTAL_1.extend( lista_ID_1_tot[k] )
    lista_TOTAL_2.extend( lista_ID_2_tot[k] )
    lista_TOTAL_3.extend( lista_ID_3_tot[k] )
    lista_TOTAL_4.extend( lista_ID_4_tot[k] )
    lista_TOTAL_5.extend( lista_ID_5_tot[k] )


contador_C = Counter(chain(lista_TOTAL_C))
contador_X = Counter(chain(lista_TOTAL_X))
contador_0 = Counter(chain(lista_TOTAL_0))
contador_1 = Counter(chain(lista_TOTAL_1))         
contador_2 = Counter(chain(lista_TOTAL_2))
contador_3 = Counter(chain(lista_TOTAL_3))    
contador_4 = Counter(chain(lista_TOTAL_4))
contador_5 = Counter(chain(lista_TOTAL_5))

### Clasificador de clientes

#### Ciclo para ID Malo y VIP

In [50]:
# ID Malo tiene al menos un valor 5 en un año  (Si paga, el STATUS va a 5,4,3,2,1 y 0 de deudas o medio año)
# ID Malo tiene al menos un valor 4 en un año 
# ID Malo tiene al menos un valor 3 en un año 
# ID Malo tiene al menos un valor 2 en un año 
# ID Malo tiene al menos un valor 1 en un año 
# ID Malo tiene al menos un valor 0 en un año 

ID_malo_r= []
ID_vip_r = []

for key, value in contador_5.items() :
    if contador_5[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)


for key, value in contador_4.items() :
    if contador_4[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)

for key, value in contador_3.items() :
    if contador_3[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)

for key, value in contador_2.items() :
    if contador_2[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)

for key, value in contador_1.items() :
    if contador_1[key] > 0 :
        prueba = [] 
        prueba = [key]
        ID_malo_r.append(prueba)

# for key, value in contador_0.items() :
#     if contador_0[key] > 0 :
#         prueba = [] 
#         prueba = [key]
#         ID_malo_r.append(prueba)

### ID VIP tienen los 12 pagos C en un año  

for key, value in contador_C.items() :
    if contador_C[key] > 11 :
        prueba = [] 
        prueba = [key]
        ID_vip_r.append(prueba)

In [51]:
len(ID_malo_r), len(ID_vip_r), len(tupla_index) # La diferencia entre el total = 24,672 y la suma de ID_malo_r y ID_vip_r son los regulares

(2023, 8283, 24672)

In [52]:
(399, 8283, 24672)

(399, 8283, 24672)

In [53]:
#Lista total

dic_ID_todos = dict(tupla_index)
ID_todos_r = list(dic_ID_todos.keys())

In [54]:
#Quitar repetidos

ID_malo = []
for i in ID_malo_r:
    if i not in ID_malo:
        ID_malo.append(i)

ID_vip = []
for i in ID_vip_r:
    if i not in ID_vip:
        ID_vip.append(i)


ID_todos = []
for i in ID_todos_r:
    if i not in ID_todos:
        ID_todos.append(i)

In [55]:
len(ID_malo_r), len(ID_malo), len(ID_vip_r), len(ID_vip), len(ID_todos_r), len(ID_todos)

(2023, 1740, 8283, 8283, 24672, 24672)

#### Crear lista ID Regular

In [56]:
# Quitar del total a los ID definidos como malos del total

list_1 = ID_malo
list_2 = ID_todos

for element in list_1:
    if element in list_2:
        list_2.remove(element)

ID_regulares_1 = list_2

In [57]:
# Quitar del total anterior los ID definidos como VIP

list_1 = ID_vip
list_2 = ID_regulares_1

for element in list_1:
    if element in list_2:
        list_2.remove(element)

ID_regulares = list_2

In [58]:
len(ID_malo) + len(ID_vip) + len(ID_regulares)

24854

In [59]:
# Comprobación de no repetidos
len([x for x in ID_regulares if x in ID_malo])

0

In [60]:
## Comprobación de no repetidos
len([x for x in ID_regulares if x in ID_vip])

0

### Convertir listas Malo Regular y VIP a Data Frame

#### Limpieza de data frame total y listas de clientes

In [61]:
# Se eliminan todos los ID duplicados del dfAll
# Se eliminan todos los STATUS ya que serán divididos por ese grupo y Months Balance al no depender del tiempo

dfAll_m = dfAll.drop_duplicates( subset= ['ID'] , keep='first')
dfAll_m = dfAll_m.drop(['Unnamed: 0','STATUS', 'MONTHS_BALANCE'], axis = 1)
dfAll_m.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,NaN,2.0
16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,32.89,12.44,1,1,0,0,NaN,2.0
31,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,58.83,3.11,1,0,0,0,Security staff,2.0
61,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,Sales staff,1.0
66,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,52.36,8.36,1,0,1,1,Sales staff,1.0

In [62]:
# Se verifica valor a eliminar =  YEARS_EMPLOYED negativos
dfAll_m['YEARS_EMPLOYED'].describe()

count    36457.000000
mean      -162.364823
std        377.128577
min      -1000.670000
25%          1.120000
50%          4.250000
75%          8.640000
max         43.050000
Name: YEARS_EMPLOYED, dtype: float64

In [63]:
# Verificador index lista

clientes_malos = pd.DataFrame(ID_malo)
clientes_regulares = pd.DataFrame(ID_regulares)
clientes_vip = pd.DataFrame(ID_vip)

In [64]:
type(clientes_malos)

pandas.core.frame.DataFrame

In [65]:
clientes_malos

            0
0     5018501
1     5021431
2     5038807
3     5053254
4     5061360
...       ...
1735  5146302
1736  5146473
1737  5148990
1738  5149119
1739  5149479

[1740 rows x 1 columns]

In [66]:
clientes_malos[0]

0       5018501
1       5021431
2       5038807
3       5053254
4       5061360
         ...
1735    5146302
1736    5146473
1737    5148990
1738    5149119
1739    5149479
Name: 0, Length: 1740, dtype: int64

#### Crear data frame de clientes malo, regular y vip

In [67]:
# Listas de clientes y reseteo de index

df_clientes_malos = dfAll_m.set_index('ID').loc[clientes_malos[0]].reset_index(inplace=False)
df_clientes_regulares = dfAll_m.set_index('ID').loc[clientes_regulares[0]].reset_index(inplace=False)
df_clientes_vip = dfAll_m.set_index('ID').loc[clientes_vip[0]].reset_index(inplace=False)

In [68]:
df_clientes_malos

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5018501,F,Y,Y,0,90000.0,Working,Secondary / secondary special,Married,House / apartment,51.92,2.75,1,1,1,0,Cooking staff,2.0
1,5021431,F,N,Y,0,126000.0,Commercial associate,Higher education,Single / not married,House / apartment,51.80,6.77,1,0,0,0,Sales staff,1.0
2,5038807,M,Y,Y,0,202500.0,Commercial associate,Higher education,Married,House / apartment,34.68,14.72,1,0,0,1,Laborers,2.0
3,5053254,F,Y,Y,0,180000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,51.14,5.89,1,1,0,0,Managers,2.0
4,5061360,M,N,Y,0,65250.0,Pensioner,Higher education,Married,House / apartment,57.18,-1000.67,1,0,0,0,NaN,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1735,5146302,M,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Married,House / apartment,46.74,1.27,1,0,0,0,Laborers,2.0
1736,5146473,F,Y,Y,0,180000.0,Commercial associate,Higher education,Civil marriage,House / apartment,38.72,10.44,1,0,0,0,Sales staff,2.0
1737,5148990,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,32.38,3.21,1,0,0,1,Security staff,2.0
1738,5149119,F,N,Y,0,360000.0,Working,Higher education,Separated,House / apartment,51.78,23.39,1,0,1,0,Managers,1.0
1739,5149479,F,Y,Y,1,135000.0,Commercial associate,Higher education,Married,House / apartment,30.90,6.80,1,0,0,0,NaN,3.0

In [69]:
df_clientes_malos.shape , df_clientes_regulares.shape , df_clientes_vip.shape

((1740, 18), (14831, 18), (8283, 18))

In [70]:
# Para YEARS_EMPLOYED, se seleccionaron solamente los datos positivos, 
# dejando fuera a los jubilados debido a las inconsistencias entre los registros

df_clientes_malos= df_clientes_malos.drop(df_clientes_malos.index[df_clientes_malos['YEARS_EMPLOYED']<0])
df_clientes_regulares= df_clientes_regulares.drop(df_clientes_regulares.index[df_clientes_regulares['YEARS_EMPLOYED']<0])
df_clientes_vip= df_clientes_vip.drop(df_clientes_vip.index[df_clientes_vip['YEARS_EMPLOYED']<0])

In [71]:
df_clientes_malos.shape , df_clientes_regulares.shape , df_clientes_vip.shape

((1503, 18), (12286, 18), (6909, 18))

### Salvar Data Frames Malo Regular y VIP a Data Frame

In [72]:
df_clientes_malos.to_csv('dfm_clientes_malos.csv', index=False)
df_clientes_regulares.to_csv('dfm_clientes_regulares.csv', index=False)
df_clientes_vip.to_csv('dfm_clientes_vip.csv', index=False)

pos1= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/dfm_clientes_malos.csv'
pos11= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_STATUSm/dfm_clientes_malos.csv'

pos2= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/dfm_clientes_regulares.csv'
pos22= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_STATUSm/dfm_clientes_regulares.csv'

pos3= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/KPI_exercise/dfm_clientes_vip.csv'
pos33= '/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_STATUSm/dfm_clientes_vip.csv'

shutil.move(pos1,pos11)
shutil.move(pos2,pos22)
shutil.move(pos3,pos33)

'/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/df_STATUSm/dfm_clientes_vip.csv'