In [1]:
import pandas as pd
import collections
from collections import Counter

In [2]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

In [3]:
### Definicion de meses

### variable_df_mes                          ###   == variable_mes
mes_actual= dfAll[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]        
mes_m1= dfAll[ ( dfAll['MONTHS_BALANCE'] == -1 )   ]

In [4]:
mes_actual.head()

,Unnamed: 0,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,...,YEARS_BIRTH,YEARS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,MONTHS_BALANCE,STATUS
0,0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,...,32.89,12.44,1,1,0,0,NaN,2.0,0,C
16,16,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,...,32.89,12.44,1,1,0,0,NaN,2.0,0,C
31,31,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,...,58.83,3.11,1,0,0,0,Security staff,2.0,0,C
61,61,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,...,52.36,8.36,1,0,1,1,Sales staff,1.0,0,0
71,71,5008810,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,...,52.36,8.36,1,0,1,1,Sales staff,1.0,0,C

In [5]:
mes_actual.iloc[0].ID

5008804

In [6]:
mes_actual.iloc[1].ID

5008805

In [7]:

lista_ID_mes = []
               ### variable_df_mes   ### variable_index
lista_ID_mes.append(  mes_actual.iloc[0].STATUS  ) # Lista registro por ID al mes
lista_ID_mes.append(  mes_m1.iloc[0].STATUS  ) # Lista registro por ID al mes -1

In [8]:
lista_ID_mes

['C', 'C']

In [9]:
           # variable_df_mes    ### variable_index    
dic_ID_mes = {  mes_actual.iloc[0].ID : lista_ID_mes   }

In [10]:
dic_ID_mes

{5008804: ['C', 'C']}

In [11]:
#                             # Se dija a -26 meses


# for variable_mes in range(-2,0):
#     variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses
    
       
#     for i in range (0,(len(variable_df_mes))) :
#         lista_ID_mes = []
#         lista_ID_mes.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por ID al mes
#         print(mes_actual.iloc[i].ID)

#         # dic_ID_mes = dict.fromkeys( (mes_actual.iloc[i].ID) , (lista_ID_mes ) )
        
#         #dic_ID_mes = {  mes_actual.iloc[i].ID : lista_ID_mes   }

In [12]:
lista_ID_mes = []
lista_STATUS_mes = []

dic_ID_STATUS_mes={} 

for variable_mes in range(-3,0):
    variable_df_mes = dfAll[ ( dfAll['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses
    # lista_ID_mes = []    
    # lista_STATUS_mes = []  

    lista_ID_index = []
    lista_STATUS_index = []

    for i in range (0,(len(variable_df_mes))) :     
        lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
        lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes    
        
        dic_ID_STATUS_index = dict.fromkeys(  lista_ID_index  ,  lista_STATUS_index  )
    dic_ID_STATUS_mes.update(dic_ID_STATUS_index)
    

#dic_ID_STATUS_mes = dic_ID_STATUS_index.copy()

#dic_ID_STATUS_mes.append(dic_ID_STATUS_index)

KeyboardInterrupt:

In [ ]:
len(dic_ID_STATUS_index), len(dic_ID_STATUS_mes)

In [ ]:
len(dic_ID_STATUS_index.keys()), len(dic_ID_STATUS_mes.keys())

In [ ]:
len(dic_ID_STATUS_index.values()), len(dic_ID_STATUS_mes.values())

In [ ]:
len(dic_ID_STATUS_mes[5008804]), len(dic_ID_STATUS_index[5008804])

In [ ]:
len(dic_ID_STATUS_mes[5008804]), len(dic_ID_STATUS_index[5008804])

In [ ]:
# keys_dic_ID_STATUS_mes = collections.OrderedDict(  sorted(  dic_ID_STATUS_mes.items()  )  )  
# print(keys_dic_ID_STATUS_mes)