In [186]:
import pandas as pd
import numpy as np
from collections import Counter
from itertools import chain

In [162]:
dfAll = pd.read_csv('/Users/yairmartinez/Documents/GitHub/data_analysis_exercises/DB/Tablas/dfAll.csv')

df2= dfAll.iloc[:1000,]
df2.shape

(1000, 21)

In [163]:
### variable_df_mes                          ###   == variable_mes
mes_m0= df2[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]

/var/folders/v1/3g8467xs4vvf3w4gs3sqq6qr0000gn/T/ipykernel_3507/2676705382.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  mes_m0= df2[ ( dfAll['MONTHS_BALANCE'] == 0 )   ]

In [170]:
# lista_ID_mes = []
# lista_STATUS_mes = []

# dic_ID_STATUS_mes={} 
lista_ID_C_tot = []
lista_ID_X_tot = []
lista_ID_0_tot = []


#                             # Se fijan 12 meses para clasificacion por a√±o
for variable_mes in range(-2,1):
    variable_df_mes = df2[ ( df2['MONTHS_BALANCE'] == variable_mes )   ] ### Definicion de meses
    lista_ID_index = []
    lista_STATUS_index = []

    lista_ID_C_mes = []
    lista_ID_X_mes = []
    lista_ID_0_mes = []

    for i in range (0,(len(variable_df_mes))) :     
        lista_ID_index.append( variable_df_mes.iloc[i].ID  ) # Lista registro por ID al mes
        lista_STATUS_index.append( variable_df_mes.iloc[i].STATUS  ) # Lista registro por STATUS al mes    
        
    tupla_index = tuple(zip(lista_ID_index , lista_STATUS_index)) 

    for j in range (0,len(tupla_index)):
        if tupla_index[j][1] == 'C':
            lista_ID_C_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == 'X':
            lista_ID_X_mes.append(tupla_index[j][0])
        elif tupla_index[j][1] == '0':
            lista_ID_0_mes.append(tupla_index[j][0])

    lista_ID_C_tot.append(lista_ID_C_mes)
    lista_ID_X_tot.append(lista_ID_X_mes)
    lista_ID_0_tot.append(lista_ID_0_mes)


   # lista_STATUS_mes.append( dic_ID_STATUS_index  ) # Lista registro por STATUS al mes 

    
    # dic_ID_STATUS_mes.update(dic_ID_STATUS_index) #SE MOVIO UNA SANGRIA ADENTRO

    
    # l

    # dic_ID_STATUS_mes.update(lista_STATUS_mes) #SE MOVIO UNA SANGRIA ADENTRO

In [183]:
print(lista_ID_C_mes)

[5008804, 5008805, 5008806, 5008810, 5008811, 5008830, 5008831, 5008832, 5008834, 5008839, 5008840, 5008843, 5008855, 5008858, 5008873, 5008874]

In [184]:
print(lista_ID_C_tot)

[[5008804, 5008805, 5008806, 5008810, 5008811, 5008826, 5008830, 5008831, 5008832, 5008834, 5008837, 5008839, 5008840, 5008843, 5008855, 5008873, 5008874], [5008804, 5008805, 5008806, 5008810, 5008811, 5008826, 5008830, 5008831, 5008832, 5008834, 5008839, 5008840, 5008843, 5008855, 5008873, 5008874], [5008804, 5008805, 5008806, 5008810, 5008811, 5008830, 5008831, 5008832, 5008834, 5008839, 5008840, 5008843, 5008855, 5008858, 5008873, 5008874], [5008804, 5008805, 5008806, 5008810, 5008811, 5008830, 5008831, 5008832, 5008834, 5008839, 5008840, 5008843, 5008855, 5008858, 5008873, 5008874]]

In [185]:
type(lista_ID_C_tot)

list

In [204]:
Counter(chain(lista_ID_C_mes))

Counter({5008804: 1,
         5008805: 1,
         5008806: 1,
         5008810: 1,
         5008811: 1,
         5008830: 1,
         5008831: 1,
         5008832: 1,
         5008834: 1,
         5008839: 1,
         5008840: 1,
         5008843: 1,
         5008855: 1,
         5008858: 1,
         5008873: 1,
         5008874: 1})

In [207]:
Counter(chain(lista_ID_C_tot[3]))

Counter({5008804: 1,
         5008805: 1,
         5008806: 1,
         5008810: 1,
         5008811: 1,
         5008830: 1,
         5008831: 1,
         5008832: 1,
         5008834: 1,
         5008839: 1,
         5008840: 1,
         5008843: 1,
         5008855: 1,
         5008858: 1,
         5008873: 1,
         5008874: 1})