In [2]:
### Importaciones ###
import pandas as pd
import sqlite3 as sql

In [4]:
# Conectar de SQLite
con = sql.connect('db.db') #Conector
cur = con.cursor() #Cursor

In [5]:
# Prueba de transformaci√≥n tabla 2
cur.execute("SELECT * FROM df2 LIMIT 1").fetchall()

[(5001711, 0, 'X')]

In [8]:
### Unir df1 y df2 en SQL con Left Join

sql_join = "SELECT * FROM df1 INNER JOIN df2 ON df1.ID = df2.ID" # Codigo SQL

cur.execute(sql_join).fetchall
result = cur.fetchall()
for row in result:
    print(row)