In [1]:
### Importaciones ###

import sqlite3 as sql

In [2]:
# Conectar de SQLite
con = sql.connect('db.db') #Conector
cur = con.cursor() #Cursor

In [3]:
# 1.- Cuales son los tres clientes solteros, con coche y con 30-59 días de atraso que tienen los mayores ingresos ??? R = 5117032, 5118442, 5088222

sql_1 = " SELECT df2.ID FROM df1 JOIN df2 ON df1.ID = df2.ID WHERE MONTHS_BALANCE == 0 AND df1.NAME_FAMILY_STATUS =='Single / not married' AND df1.FLAG_OWN_CAR == 'Y' AND df2.STATUS == 1 GROUP BY df1.ID ORDER BY df1.AMT_INCOME_TOTAL LIMIT 3 "

cur.execute(sql_1).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(5117032,)
(5118442,)
(5088222,)

In [4]:
# 2.- Cuántos clientes tienen entre 701 y 1822 días en su actual empleo ??? R= 104780
#Hint: DAYS_EMPLOYED 0 = dia actual, -1 = dos dias al actual, -2 = tres dias al actual :. -700 = setecientos un dia al actual, -1821 = mil ochocientos veintidós días al actual

sql_2 = " SELECT COUNT(DAYS_EMPLOYED) FROM df1 WHERE DAYS_EMPLOYED BETWEEN -1821 AND -700  "

In [5]:
cur.execute(sql_2).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(104780,)

In [6]:
# 3.- Clientes que en su número telefónico esté el patrón “55”
# La respuesta es que no hay porque las instancias varian entre 0 y 1

### Se prodece a buscar ese patron con los ID = 30269 clientes ###

sql_3 = " SELECT COUNT(ID) FROM df1 WHERE FLAG_MOBIL LIKE '%5%' "
sql_3_2 = " SELECT COUNT(ID) FROM df1 WHERE FLAG_MOBIL LIKE '%1%' " #Corroborar clientes con 1 en su ID

sql_3_3 = " SELECT COUNT(ID) FROM df1 WHERE ID LIKE '%55%' "

In [7]:
cur.execute(sql_3).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(0,)

In [8]:
cur.execute(sql_3_2).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(438557,)

In [9]:
cur.execute(sql_3_3).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(30269,)

In [10]:
# Clientes que pertenezcan a la tabla “application_record.csv” pero no a “credit_record.csv” R= 402100

sql_4 = " SELECT COUNT(df1.ID) FROM df1 LEFT JOIN df2 ON  df1.ID = df2.ID WHERE df2.ID is NULL "
sql_4_2 = " SELECT COUNT(df1.ID) FROM df1 " # Verificador que cuenta a todos de “application_record.csv”

In [11]:
cur.execute(sql_4).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(402100,)

In [12]:
cur.execute(sql_4_2).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(438557,)

In [13]:
# Cerrar SQLite
#con.commit() # Ejecutar acciones en DB
#con.close() # Cerrar DB