In [1]:
### Importaciones ###
import pandas as pd
import sqlite3 as sql

In [2]:
# Conectar de SQLite
con = sql.connect('db.db') #Conector
cur = con.cursor() #Cursor

In [3]:
sql_1 = " SELECT df2.ID, df1.NAME_FAMILY_STATUS, df1.FLAG_OWN_CAR, df2.STATUS FROM df1 INNER JOIN df2 ON df1.ID = df2.ID WHERE df2.MONTHS_BALANCE=1 GROUP BY df1.ID, df2.ID ORDER BY df1.AMT_INCOME_TOTAL LIMIT 3 "

In [4]:
cur.execute(sql_1).fetchall
result = cur.fetchall()
for row in result:
    print(row)

In [5]:
# Cerrar SQLite
#con.commit() # Ejecutar acciones en DB
#con.close() # Cerrar DB