In [1]:
### Importaciones ###

import sqlite3 as sql

In [2]:
# Conectar de SQLite
con = sql.connect('db.db') #Conector
cur = con.cursor() #Cursor

In [3]:
# Cuales son los tres clientes solteros, con coche y con 30-59 días de atraso que tienen los mayores ingresos ???

sql_1 = " SELECT df2.ID FROM df1 INNER JOIN df2 ON df1.ID = df2.ID WHERE MONTHS_BALANCE == 0 AND df1.NAME_FAMILY_STATUS =='Single / not married' AND df1.FLAG_OWN_CAR == 'Y' AND df2.STATUS == 1 GROUP BY df1.ID ORDER BY df1.AMT_INCOME_TOTAL LIMIT 3 "

cur.execute(sql_1).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(5117032,)
(5118442,)
(5088222,)

In [4]:
# Cuántos clientes tienen entre 701 y 1822 días en su actual empleo

sql_2 = " SELECT COUNT(DAYS_EMPLOYED) FROM df1 WHERE  "

In [5]:
cur.execute(sql_2).fetchall
result = cur.fetchall()
for row in result:
    print(row)

(438557,)

In [ ]:
# Clientes que en su número telefónico esté el patrón “55”

sql_3 = " x "

#  SELECT df2.ID FROM df1 INNER JOIN df2 ON df1.ID = df2.ID WHERE MONTHS_BALANCE == 0 AND df1.NAME_FAMILY_STATUS =='Single / not married' AND df1.FLAG_OWN_CAR == 'Y' AND df2.STATUS == 1 GROUP BY df1.ID ORDER BY df1.AMT_INCOME_TOTAL LIMIT 3 "

In [ ]:
cur.execute(sql_3).fetchall
result = cur.fetchall()
for row in result:
    print(row)

In [ ]:
# Clientes que pertenezcan a la tabla “application_record.csv” pero no a “credit_record.csv”

sql_4 = " x "

#  SELECT df2.ID FROM df1 INNER JOIN df2 ON df1.ID = df2.ID WHERE MONTHS_BALANCE == 0 AND df1.NAME_FAMILY_STATUS =='Single / not married' AND df1.FLAG_OWN_CAR == 'Y' AND df2.STATUS == 1 GROUP BY df1.ID ORDER BY df1.AMT_INCOME_TOTAL LIMIT 3 "

In [ ]:
cur.execute(sql_4).fetchall
result = cur.fetchall()
for row in result:
    print(row)

In [ ]:
# Cerrar SQLite
#con.commit() # Ejecutar acciones en DB
#con.close() # Cerrar DB